<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Masiv Comunications</title>
  </head>
  <body>
    <header>
      <div class="nav-index" id="app" v-cloak>
        <h1>Masiv</h1>
        <nav>
          <ul>
            <li class="li-ancore"><a href="/web/register.html">Register</a></li>
            <i class="uil uil-index uil-user"></i>
            <li>
              <input
                type="email"
                placeholder="Enter your email"
                name="login-email"
                id="login-email"
                required
                v-model="email"
              />
            </li>
            <li>
              <input
                type="password"
                placeholder="Enter your password"
                name="login-password"
                id="login-password"
                required
                v-model="password"
              />
            </li>
            <li><button class="login-button" @click="login">Login</button></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <ul class="main-ul">
        <li class="main-text">
          <h2>Welcome to Masiv Comunications</h2>
         
        </li>
        <li>
          <img
            class="main-img"
            src="/assets/img1.png"
            alt="Ilustrations from Blush Design"
          />
        </li>
      </ul>
    </main>
 
    <footer>
      
      <ul class="ul-social">
        <a href="https://www.facebook.com/Masivsolutions">
          <i class="uil uil-social uil-facebook-f"></i
        ></a>
        <a href="https://twitter.com/masivapp?lang=es"
          ><i class="uil uil-social uil-twitter"></i
        ></a>
        <a href="https://www.youtube.com/watch?v=_JM7C_Vn5Qw"
          ><i class="uil uil-social uil-youtube"></i
        ></a>
        <a href="https://www.linkedin.com/company/masivian/"
          ><i class="uil uil-social uil-linkedin"></i
        ></a>
      </ul>
    </footer>
    <!--Scripts-->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/script/login.js"></script>
  </body>
</html>
